<section class="my-8 px-4 lg:my-20 max-w-xl mx-auto min-h-screen" id="roadmap">
  <h1 class="text-4xl font-semibold my-10">Roadmap</h1>
  <h2 class="text-xl font-semibold my-4">Top priorities for 2024:</h2>
  <ul class="list-disc ml-6">
    <li>Cumulative annual savings of $10,000 for users</li>
    <li>Increase the product offerrings through Onestack</li>
    <li>User experience</li>
  </ul>
  <div class="my-8 space-y-4">
    <p>
      The main goals for Onestack for 2024, are to host essential products that business need for their daily operations, making the user experience as seamless and easy to follow as possible and implementing visual dashboards so that users can directly see how much money they are saving from using Onestack.
    </p>
    <p>
      In addition, we are actively working to collect customer feedback so that we can improve our offerrings and actively produce content to increase the awareness of Onestack.
    </p>
  </div>
  <h2 class="text-3xl font-semibold my-4">Products</h2>
  <ul class="list-decimal list-outside pl-4">
    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Document signing (Documenso)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Figma alternative (Penpot)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Podcast hosting (Castopod)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Zapier/make.com alternative (n8n)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Zendesk alternative (Chatwoot)</span>
    </li>

    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Form builder (Formbricks)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input
        type="checkbox"
        class="checkbox checkbox-primary checkbox-sm"
        disabled
        checked="checked"
      />
      <span class="ml-2">Scheduling (Cal)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" disabled />
      <span class="ml-2">Slack alternative (Matrix)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" disabled />
      <span class="ml-2">Project management (Plane)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" disabled />
      <span class="ml-2">Notes (TBD)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" disabled />
      <span class="ml-2">LLM usage based platform (Librechat)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" disabled />
      <span class="ml-2">No-code DB (Baserow)</span>
    </li>
    <li class="mb-2 flex items-center">
      <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" disabled />
      <span class="ml-2">PDF Editor (TBD)</span>
    </li>
  </ul>
</section>
