<section class="py-8 lg:py-20" id="home">
  <div class="container">
    <div class="grid gap-12 lg:grid-cols-2">
      <div>
        <h1 class="text-4xl font-extrabold tracking-tighter lg:text-6xl lg:leading-none">
          All-in-one <span class="text-primary">software platform</span> for your business
        </h1>
        <p class="mt-8 text-lg">
          Onestack provides and manages essential business software in one place by hosting the best open-source alternatives to popular proprietary software tools.
          Reduce your software costs by 90% and simplify your SaaS management effortlessly.
        </p>
        <div class="mt-16 inline-flex gap-3">
          <button class="btn btn-primary">
            <a href={~p"/users/register"} target="blank">
              Get started
            </a>
          </button>
        </div>
      </div>

      <div>
        <div
          class=" rounded md:ml-10 w-full p-0.5 dark:shadow-[0_20px_100px_rgba(0,96,223,0.3),inset_0_0_0px_rgba(0,96,223,0.3)] dark:bg-[radial-gradient(circle_at_center,rgba(0,96,223,0.3)_0%,rgba(0,96,223,0)_0%)] shadow-xl transition-all"
          data-card3d=""
          data-card3d-perspective="1000"
          data-card3d-full-page-listening="true"
        >
          <img
            src={~p"/images/onestack-hero-test.png"}
            alt="Onestack alternatives"
            class="overflow-hidden rounded-ss-lg dark:hidden w-full"
          />
          <img
            src={~p"/images/onestack-hero-test-transparent.png"}
            alt="Onestack alternatives"
            class="overflow-hidden rounded-ss-lg hidden dark:block w-full"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="relative py-8 lg:py-20 " id="features">
  <div class="absolute start-[10%] z-0">
    <div class="pointer-events-none aspect-square w-60 rounded-full bg-gradient-to-r from-primary/10 via-violet-500/10 to-purple-500/10 blur-3xl [transform:translate3d(0,0,0)] lg:w-[600px]">
    </div>
  </div>

  <div class="container">
    <div class="flex flex-col items-center">
      <h2 class="inline text-4xl font-semibold">Managing SaaS has never been easier</h2>

      <p class="mt-4 text-lg sm:text-center">
        Take back control of your SaaS subscriptions and save hours from setting up your SaaS stack for your team.
      </p>
    </div>

    <div class="relative z-[2] mt-8 grid gap-8 lg:mt-32 lg:grid-cols-2 lg:gap-12">
      <div class="overflow-hidden rounded-lg bg-secondary/20 shadow-md transition-all hover:shadow-xl">
        <img
          src={~p"/images/onestack_manage_light.png"}
          alt="Manage your stack overview"
          class="overflow-hidden rounded-ss-lg dark:hidden"
        />
        <img
          src={~p"/images/onestack_manage_dark.png"}
          alt="Manage your stack overview"
          class="overflow-hidden rounded-ss-lg hidden dark:block"
        />
      </div>

      <div class="lg:mt-8">
        <div class="badge badge-primary">Control</div>
        <h3 class="mt-2 text-3xl font-semibold">Manage your stack</h3>
        <p class="mt-2 text-base font-medium">
          Seamless account and billing management with ability to easily invite your team and modify your stack at any point.
        </p>

        <ul class="mt-4 list-inside list-disc text-base">
          <li>One subscription</li>
          <li>Add or remove products/members with one click</li>
          <li>Intuitive User Interface</li>
          <li>Ability to cancel at any-time</li>
        </ul>
      </div>
    </div>

    <div class="mt-8 grid gap-8 lg:mt-32 lg:grid-cols-2 lg:gap-12">
      <div>
        <div class="badge badge-primary">Features</div>
        <h3 class="mt-2 text-3xl font-semibold">Access to premium features</h3>
        <p class="mt-2 text-base">
          Our SaaS platform offers seamless management, allowing you to effortlessly oversee
          users, projects, and resources in one centralized hub. Gain real-time insights,
          streamline workflows, and optimize resource allocation for unparalleled efficiency.
        </p>

        <ul class="mt-4 list-inside list-disc text-base">
          <li>User-Friendly Tools</li>
          <li>Resource Management</li>
          <li>Task Assignment</li>
          <li>Robust Control</li>
        </ul>
      </div>

      <div class="order-first lg:order-last">
        <div class="overflow-hidden rounded-lg bg-base/20 shadow-md transition-all hover:shadow-xl">
          <img
            src={~p"/images/one_future_light.png"}
            alt="Onestack features"
            class="overflow-hidden rounded-ss-lg dark:hidden"
          />
          <img
            src={~p"/images/one_future_dark.png"}
            alt="Onestack features"
            class="overflow-hidden rounded-ss-lg hidden dark:block"
          />
        </div>
      </div>
    </div>

    <%!-- <div class="mt-8 grid gap-8 lg:mt-20 lg:grid-cols-2 lg:gap-12">
      <div class="overflow-hidden rounded-lg bg-secondary/20 shadow-md transition-all hover:shadow-xl">
        <img
          alt="saas img"
          class="overflow-hidden rounded-ss-lg"
          src="assets/images/landing/18382537-WorkSpace-Work-Space-Booking-Apps.png"
        />
      </div>

      <div class="lg:mt-8">
        <div class="badge badge-primary">Workflows</div>
        <h3 class="mt-2 text-3xl font-semibold">Seamless Integrations</h3>
        <p class="mt-2 text-base">
          Connect key tools seamlessly with our SaaS platform, streamlining your processes and
          boosting productivity. Experience a cohesive digital ecosystem that empowers your
          business for innovation and growth.
        </p>

        <ul class="mt-4 list-inside list-disc text-base">
          <li>Real-time chat with Slack</li>
          <li>Engage your customer with Email</li>
          <li>Getting order from Amazon</li>
          <li>Using Ai from OpenAI</li>
        </ul>
      </div>
    </div> --%>
  </div>
</section>

<section class="py-8 lg:py-20" id="savings">
  <div class="container">
    <div class="text-center">
      <h2 class="text-4xl font-semibold" id="calculator">See how much you can save</h2>
      <p class="mt-2 text-lg sm:text-center">
        Discover your savings in seconds. Tell us your team size and software needs.
        We'll show you our straightforward pricing: just $10 per product for every 10 users.
        Plus, see how much you'll save compared to traditional software - both in dollars and percentage.
        Transparent, simple, and cost-effective.
      </p>
    </div>

    <div
      class="mt-12 rounded-lg p-8 bg-secondary/20 text-base-content lg:px-24 lg:py-14"
      x-data="calculator"
    >
      <div class="mt-6 flex justify-center">
        <div class="tabs-boxed bg-secondary/20 tabs">
          <button
            class="tab lg:px-10"
            x-bind:class="{ 'tab-active': searchType === 'products' }"
            @click="searchType = 'products'"
          >
            Products
          </button>
          <button
            class="tab lg:px-10"
            x-bind:class="{ 'tab-active': searchType === 'categories' }"
            @click="searchType = 'categories'"
          >
            Categories
          </button>
        </div>
      </div>

      <div class="mt-6 mx-auto flex flex-wrap justify-center">
        <template x-for="item in itemsToShow" x-bind:key="item">
          <button
            type="checkbox"
            x-bind:class="{'btn btn-outline btn-secondary my-0.5 mx-1 toggle-btn': true, 'btn-active': selectedItems.includes(item)}"
            @click="toggleItem(item)"
            x-text="item"
          />
        </template>
      </div>

      <div class="mt-6 justify-center">
        <h2 class="card-title">How big is your team?</h2>
        <div class="flex items-center justify-between">
          <input
            id="slider"
            type="range"
            min="1"
            max="30"
            x-model="numUsers"
            class="range w-full"
          />
          <h2 class="ml-4" x-text="numUsers"></h2>
        </div>
      </div>

      <div class="my-12 mx-auto flex justify-center">
        <div class="stats stats-vertical md:stats-horizontal">
          <div class="stat">
            <div class="stat-title">Monthly savings</div>
            <div class="stat-value">$<span x-text="savings.toFixed(2)"></span></div>
            <div class="stat-desc">
              <span x-text="savingsPercent"></span>% saved compared to closed source
            </div>
            <div class="stat-actions">
              <button class="btn btn-primary btn-sm">
                <a href={~p"/users/register"} target="blank">
                  Get started
                </a>
              </button>
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Our price</div>
            <div class="stat-value p mb-16">
              $<span x-text="totalCosts.openSource.toFixed(2)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-8 lg:py-12 " id="faq">
  <div class="container">
    <div class="text-center">
      <h2 class="text-4xl font-semibold text-base-content">FAQs</h2>
      <p class="mt-2 text-lg">
        Find solutions, tips, and more to enhance your SaaS experience.
      </p>
    </div>

    <div class="mt-12 flex justify-center gap-6">
      <div class="space-y-4 lg:w-1/2">
        <div class="collapse collapse-arrow border border-base-content/10">
          <input checked="checked" name="faq" type="radio" aria-label="open/close" />
          <div class="collapse-title text-xl font-medium">
            How reliable is open-source software?
          </div>
          <div class="collapse-content">
            <p class="text-base">
              Open-source software can be highly reliable. It benefits from community scrutiny, frequent updates, and transparency.
              Many successful businesses rely on open-source solutions for critical operations, demonstrating their dependability and robustness.
            </p>
          </div>
        </div>
        <div class="collapse collapse-arrow border border-base-content/10">
          <input name="faq" type="radio" aria-label="open/close" />
          <div class="collapse-title text-xl font-medium">
            How does Onestack handle data security?
          </div>
          <div class="collapse-content">
            <p class="text-base">
              At Onestack, we prioritise data security. Our platform employs state-of-the-art encryption, strict access controls, and regular security audits to safeguard your data.
              We are actively working towards obtaining SOC2 and ISO 27001 certifications to provide you with additional assurance.
              For more details, please visit our <a class="link" href={~p"/security"}>security</a>
              page.
            </p>
          </div>
        </div>
        <div class="collapse collapse-arrow border border-base-content/10">
          <input name="faq" type="radio" aria-label="open/close" />
          <div class="collapse-title text-xl font-medium">
            Can I remove/add products to my stack?
          </div>
          <div class="collapse-content">
            <p class="text-base">
              Modifying your product stack is straightforward. Simply log in to your account, navigate to "My Stack", and click on the products you wish to add or remove.
              Changes take effect immediately, with any billing adjustments calculated on a pro-rata basis.
            </p>
          </div>
        </div>
        <div class="collapse collapse-arrow border border-base-content/10">
          <input name="faq" type="radio" aria-label="open/close" />
          <div class="collapse-title text-xl font-medium">
            Is there a trial period for Onestack?
          </div>
          <div class="collapse-content">
            <p class="text-base">
              Yes, we offer a free trial period for you to explore and experience our platform's
              features. Use code FREETRIAL when checking out for a 30 day free trial.
            </p>
          </div>
        </div>
        <div class="collapse collapse-arrow border border-base-content/10">
          <input name="faq" type="radio" aria-label="open/close" />
          <div class="collapse-title text-xl font-medium">
            Do you offer enterprise plans?
          </div>
          <div class="collapse-content">
            <p class="text-base">
              For information about our Enterprise offerings, please
              <a class="link" href="https://cal.onestack.cloud/team/onestack">
                schedule a consultation
              </a>
              with our team to discuss your specific requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function calculator() {
    return {
      searchType: 'categories',
      numUsers: 1,
      products: <%= Phoenix.HTML.raw(@prepared_products) %>,
      selectedItems: [],
      
      get categories() {
        return [...new Set(this.products.map(p => p.category))];
      },
      
      get itemsToShow() {
        return this.searchType === 'products' 
          ? this.products.map(p => p.closed_source_name)
          : this.categories;
      },
      
      toggleItem(item) {
        const index = this.selectedItems.indexOf(item);
        if (index === -1) {
          this.selectedItems.push(item);
        } else {
          this.selectedItems.splice(index, 1);
        }
      },
      
       get prices() {

        if (this.searchType === 'products') {
          return this.getProductPrices(this.selectedItems);
        } else {
          return this.getAveragePrices(this.selectedItems);
        }
      },
      
      getProductPrices(products) {
        const prices = this.products.filter(p => products.includes(p.closed_source_name));
        return prices;
      },
      
      getAveragePrices(categories) {
        const prices = categories.map(category => {
          const categoryProducts = this.products.filter(p => p.category === category);
          const avgClosedSourcePrice = categoryProducts.reduce((sum, p) => sum + p.closed_source_user_price_aud, 0) / categoryProducts.length;
          const avgOpenSourcePrice = categoryProducts.reduce((sum, p) => sum + p.open_source_fixed_price, 0) / categoryProducts.length;
          return {
            category,
            closed_source_user_price_aud: avgClosedSourcePrice,
            open_source_fixed_price: avgOpenSourcePrice
          };
        });
        return prices;
      },
      
      get totalCosts() {
        const costs = this.prices.reduce((acc, price) => {
          const closedSourceCost = price.closed_source_user_price_aud * this.numUsers;
          const steps = Math.floor((this.numUsers - 1) / 10) + 1;
          const openSourceCost = price.open_source_fixed_price * steps;
          

          return {
            closedSource: acc.closedSource + closedSourceCost,
            openSource: acc.openSource + openSourceCost
          };
        }, { closedSource: 0, openSource: 0 });

        return costs;
      },
      
      get savings() {
        const savingsAmount = this.totalCosts.closedSource - this.totalCosts.openSource;
        return isNaN(savingsAmount) ? 0 : savingsAmount;
      },
      
      get savingsPercent() {
        if (this.totalCosts.closedSource === 0) return "0.00";
        const percent = (this.savings / this.totalCosts.closedSource) * 100;
        return isNaN(percent) ? "0.00" : percent.toFixed(2);
      }
    };
  }
</script>
