PENPOT_DATABASE_URI= postgresql://postgres_db:5432/penpot
PENPOT_DATABASE_USERNAME=
PENPOT_DATABASE_PASSWORD=


PENPOT_REDIS_URI= redis://:<PASSWORD>@<HOST>:<PORT>/2

PENPOT_SMTP_DEFAULT_FROM= 
PENPOT_SMTP_DEFAULT_REPLY_TO= 
PENPOT_SMTP_HOST= 
PENPOT_SMTP_PORT= 587
PENPOT_SMTP_USERNAME= 
PENPOT_SMTP_PASSWORD= 
PENPOT_SMTP_TLS= true
PENPOT_SMTP_SSL= false