CP_DATABASE_HOSTNAME=mariadb:3306
CP_DATABASE_NAME=castopod
CP_DATABASE_USERNAME=
CP_DATABASE_PASSWORD=
CP_BASEURL=https://castopod.onestack.cloud
CP_ANALYTICS_SALT=
CP_CACHE_HANDLER=redis
CP_REDIS_HOST=valkey_redis
CP_REDIS_PORT=6379
CP_REDIS_DATABASE=0
CP_REDIS_PASSWORD=
CP_EMAIL_SMTP_HOST=
CP_EMAIL_FROM=
CP_EMAIL_SMTP_USERNAME=
CP_EMAIL_SMTP_PASSWORD=
CP_EMAIL_SMTP_PORT=
CP_EMAIL_SMTP_CRYPTO=