ADMINMAIL=
ADMINPASS=
DATABASE_URL=mysql://root:<password>@mariadb:3306/kimai?charset=utf8mb4
TRUSTED_HOSTS=nginx,localhost,127.0.0.1,traefik,kimai.onestack.cloud
TRUSTED_PROXIES=nginx,localhost,127.0.0.1,traefik,kimai.onestack.cloud