DATABASE_URL= "postgres://onestack:<PASSWORD>@postgres_db:5432/formbricks?schema=public"

# You can use: `openssl rand -hex 32` to generate one
NEXTAUTH_SECRET= 

# You can use: $(openssl rand -hex 32) to generate one
ENCRYPTION_KEY=

MAIL_FROM= 
SMTP_HOST= 
SMTP_PORT= 
SMTP_USER= 
SMTP_PASSWORD= 

# Set the below to use it intead of API Key for the API & use as an auth for cronjobs
CRON_SECRET= 

# Oauth credentials for Notion Integration
NOTION_OAUTH_CLIENT_ID= 
NOTION_OAUTH_CLIENT_SECRET= 

# Oauth credentials for Google Sheet Integration
GOOGLE_SHEETS_CLIENT_ID= 
GOOGLE_SHEETS_CLIENT_SECRET= 
GOOGLE_SHEETS_REDIRECT_URL= 

# Oauth credentials for Airtable Integration
AIRTABLE_CLIENT_ID= 

# Oauth credentials for Slack Integration
SLACK_CLIENT_ID= 
SLACK_CLIENT_SECRET= 