DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres_db
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=onestack
DB_POSTGRESDB_PASSWORD=
VUE_APP_URL_BASE_API=https://n8n.onestack.cloud/
WEBHOOK_URL=https://n8n.onestack.cloud/
N8N_METRICS=true
N8N_SMTP_SENDER=
N8N_SMTP_HOST=
N8N_SMTP_PORT=587 #or 465
N8N_SMTP_USER=
N8N_SMTP_PASS=
N8N_EMAIL_MODE=smtp
N8N_SMTP_SSL=false